.btn {
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    line-height: 1;

    &-primary {
        background: $accent_color;
        color: #FFF;
        box-shadow: 0 0 20px 5px #ef4021;
        transition: 300ms;
        &:hover {
            background: darken($accent_color, 5%);
            box-shadow: 0 0 8px 5px #ef4021;
        }
    }
}
